#travel {
    text-align: center;
    color: black;
}

#movies {
    text-align: center;
    color: black;
}

p {
    font-family: cursive;
}

body {
    background-color: dimgray;
}

#aboutMe {
    text-align: center;
    color: black;
}

#enviroment {
    text-align: center;
    color: black;
}

#studentgr {
    text-align: center;

    color: black;
}
#id {
    background-color: floralwhite;
}

#alumni{
text-align: center;

    color: black;
}